@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f0;
  font-family: "Merriweather Sans", serif;
}
/* NavBar */

header {
  position: fixed;
  width: 100%;
  background-color: #c2c7c6;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

header .logo h1 {
  margin: 0 20px;
  color: #333333;
}

nav ul {
  display: flex;
  gap: 20px;
  margin: 0 20px;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: teal;
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
}
nav ul li a:hover {
  background-color: azure;
}
.gallery {
  display: flex;
  justify-content: center;
}
.galleryImage {
  width: 100vw;
  height: 70vh;
  margin-top: 63px;
}

/* Main Content */

.foodContainer {
  margin: 20px 50px;
  height: auto;
}
.foodContainer h2 {
  text-indent: 40px;
}
.foodContainer .line {
  height: 2px;
  width: auto;
  background-color: teal;
}
.cardContainer {
  display: flex;
  margin-top: 20px;
  width: auto;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 26vw;
  align-items: center;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
}
.card .foodImg {
  object-fit: cover;
  height: 220px;
  border-radius: 5px;
}
.card .values {
  text-align: center;
}
.card .foodImg:hover {
  transform: scale(1.1);
}
.card p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card input[type="number"] {
  width: 30px;
  margin-right: 15px;
  text-align: center;
}
.card .values #full {
  width: 80px;
  padding: 2px 0;
  margin-right: 15px;
}
.card button {
  width: 10vw;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(51, 104, 106);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.card button:hover {
  background-color: teal;
}
.menuBar {
  display: none;
}

.heading {
  color: red;
}

/* Login */

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  /* background-position: center; */
  background-repeat: no-repeat;
}
.loginContainer .loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #48A6A7;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  margin-top: 60px;
}
.loginContent p {
  font-size: 16px;
  margin-top: 20px;
}
.loginContent .signupbtn {
  text-decoration: none;
  margin-left: 15px;
  color: #1f588b;
}
.loginContainer form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  align-items: center;
}
.loginContainer form input {
  padding: 10px 40px;
  outline: none;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: none;
}
.loginContainer form input[type="submit"] {
  background-color: #9acbd0;
  outline: none;
  border: none;
  cursor: pointer;
}
.loginContainer form input[type="submit"]:hover {
  background-color: #2973b2;
  border: none;
  cursor: pointer;
}

.loginContainer .message {
  font-size: 14px;
}

.cross {
  display: none;
  margin-right: 20px;
  font-size: 20px;
}

/* Cart  */
.cartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-direction: column;
}
.cartContainer .cartData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-direction: column;
  gap: 20px;
  height: auto;
  margin-bottom: 90px;
  margin-top: 100px;
}
.cartData .cartHeading {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 107px;
  width: 70vw;
}
.cartData .cartHeading p {
  font-size: 16px;
}

.cartData .cartCard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 70vw;
  grid-gap: 80px;
  align-items: center;
  justify-content: center;
}
.cartCard p {
  font-size: 14px;
  text-align: left;
}
.cartCard button {
  cursor: pointer;
  border: none;
  font-size: 16px;
  outline: none;
}
.cartData .lines {
  height: 1px;
  width: 70vw;
  background-color: #1f588b;
}
.cartContainer .totalOrder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  margin-top: 30px;
  height: auto;
}
.cartContainer .totalOrder .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.totalOrder .totalline {
  height: 1px;
  background-color: blueviolet;
}
.checkOut {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkOut .checkout {
  padding: 10px 20px;
  background-color: #2973b2;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.checkOut .checkout:hover {
  background-color: #1f588b;
}

/* Check Out */
.checkoutContainer {
  display: flex;
  justify-content: space-around;
  height: 90vh;
  align-items: center;
}
.checkoutContainer .delInfo {
  width: 30vw;
  height: auto;
  margin-top: 50px;
}
.delInfo h1 {
  margin-bottom: 20px;
}
.delInfo form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30vw;
}
.delInfo form input {
  font-size: 16px;
  padding: 3px 5px;
}
.delInfo form .multiLine {
  display: flex;
  gap: 10px;
  width: 20vw;
}
.delInfo form .oneLine {
  width: 32vw;
  height: 4vh;
}
.checkoutContainer .payment {
  width: 40vw;
  height: 50vh;
}
.checkoutContainer .payment h1 {
  margin-bottom: 20px;
}
.payment .paymentLine {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  align-items: center;
}
.payment .newline {
  height: 1px;
  background-color: blueviolet;
  margin-bottom: 20px;
}
.payment .payWay {
  display: flex;
  gap: 30px;
  padding-left: 20px;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.payment .payWay button{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 25vw;
}
.payment .payWay button img{
  margin-left: 20px;
}
.delInfo form input[type="submit"] {
  cursor: pointer;
  border: none;
  padding: 10px 3px;
  width: 12vw;
  background-color: #9acbd0;
}
.delInfo form input[type="submit"]:hover {
  background-color: #32c0ca;
}
.payment .payWay input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

/* MyOrders */
.myContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 110vh;
}
.myContainer .nope {
  margin: auto;
}
.myContainer .nope h1 {
  margin-bottom: 20px;
}
.myContainer .myCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid #aab99a;
  height: 20vh;
  gap: 30px;
  padding: 0 20px;
}
.myCard p {
  font: 18px;
}
.myCard .tod {
  background-color: #9acbd080;
  padding: 8px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.myCard .tod:hover {
  background-color: #9acbd0;
}
/* Footer */

footer {
  background-color: #333333;
  color: white;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
  gap: 30px;
}
footer .footHeading {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 40vh;
  text-align: left;
}
.footHeading h1 {
  color: oldlace;
}
.footHeading .brandIcons {
  margin-left: 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  border: 0.8px solid;
}
.footHeading .brandIcons:hover {
  background-color: #2973b2;
  cursor: pointer;
}
footer .footerAbout {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.allOrders {
  padding: 20px;
  padding-top: 90px;
}

.order {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.allCards {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.allCards img {
  width: 150px;
  height: 100px;
  margin-right: 15px;
}

.order-details {
  display: flex;
  flex-direction: column;
}

.order-details p {
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  header .logo h1 {
    font-size: 20px;
  }
  nav {
    position: fixed;
    top: 10%;
    right: -100%; /* Move off-screen initially */
    background-color: #48A6A7;
    transition: transform 0.5s ease-in-out; /* Smooth transition */
    z-index: 10;
  }
  .navShow {
    transform: translateX(0); /* Slide in */
    right: 0; /* Bring to right edge */
    top: 13%;
    width: 100vw;
    padding: 100px 0;
  }
  nav ul {
    flex-direction: column;
    gap: 50px;
  }
  .menuBar {
    display: block;
    font-size: 20px;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .card .foodImg{
    height: 200px;
  }
  .foodContainer {
    margin: 30px 0;
  }
  .cardContainer .card {
    width: 40vw;
  }
  .card button {
    width: 16vw;
  }
  .cartData .cartHeading {
    grid-gap: 60px;
  }
  .cartData .cartCard {
    grid-gap: 45px;
  }
  .cartData .cartHeading p {
    font-size: 16px;
    margin-left: -4px;
  }
  .loginContainer .loginContent {
    padding: 20px 30px;
  }
  .cartContainer .totalOrder {
    margin-bottom: 20px;
  }
  .cartContainer .totalOrder .total {
    margin: 15px 0;
  }
  .cartContainer .totalOrder {
    width: 70vw;
  }

  .divBar {
    background: #48A6A7;
    padding: 75px 40px;
    transition: transform 1s ease-in;
  }
  .checkoutContainer {
    justify-content: space-between;
    padding: 30px 0px;
    height: auto;
  }
  .checkoutContainer .delInfo {
    width: auto;
    padding: 0 5px;
  }
  .delInfo form {
    width: 55vw;
  }
  .delInfo form .multiLine {
    gap: 5px;
  }
  .checkoutContainer .payment {
    width: 42vw;
    margin-right: 5px;
  }
  .delInfo form input[type="submit"] {
    width: 13vw;
    text-align: left;
    padding: 10px 7px;
  }
  .myContainer .myCard {
    gap: 10px;
    padding: 0 5px;
  }
  /* Footer */
  footer {
    flex-wrap: wrap;
    height: 70vh;
    padding: 20px;
  }
  footer .footHeading {
    height: 50vh;
  }
  footer .footerAbout {
    width: 30vw;
  }
}

@media screen and (max-width: 426px) {
  .cardContainer .card {
    width: 90vw;
  }
  .card button {
    width: 40vw;
  }
  .loginContainer .loginContent {
    padding: 15px 30px;
  }
  .loginContainer form input {
    padding: 10px 5px;
    text-indent: 30px;
  }
  .loginContainer form input[type="submit"] {
    padding: 10px 30px;
    text-indent: 0;
  }
  .cartData .cartHeading {
    grid-gap: 9px;
    width: 95vw;
  }
  .cartData .cartCard {
    grid-gap: 10px;
    width: 95vw;
    margin-top: 15px;
  }
  .card .foodImg{
    height: 38vh;
    width: 88vw;
  }
  .cardContainer .card{
    margin: auto;
  }
  .cartData .lines {
    width: 95vw;
  }
  .cartContainer .totalOrder {
    width: 95vw;
  }
  .checkoutContainer {
    flex-direction: column;
  }
  .delInfo form {
    width: auto;
    padding: 0 10px;
  }
  .delInfo h1 {
    margin-bottom: 15px;
    text-align: center;
  }
  .delInfo form .multiLine {
    flex-direction: column;
    width: 90vw;
    gap: 10px;
  }
  .delInfo form .oneLine {
    width: 86vw;
  }
  .delInfo form input[type="submit"] {
    width: 35vw;
    margin-bottom: 20px;
  }
  .checkoutContainer .payment {
    width: 90vw;
    padding: 0 10px;
  }

  .payment .payWay {
    gap: 20px;
    padding: 0;
  }
  .myContainer .myCard {
    gap: 25px;
    height: auto;
    flex-direction: column;
    padding: 15px;
  }
  .myContainer .nope h1 {
    margin-bottom: 15px;
  }
  .payment .payWay button {
    width: 50vw;
  }
  /* Footer */
  footer {
    padding: 50px 20px;
    height: auto;
    margin-top: 40px;
  }
  footer .footHeading {
    width: 90vw;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: justify;
  }
  footer .footerAbout {
    align-items: center;
    width: 90vw;
  }
  .footerAbout .about {
    line-height: 1.8;
    text-align: center;
  }
}
